
.main_div{
    width: 100%;
    height: 100vh;
    background: skyblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center_div{
    width: 28%;
    height: 80vh;
    background-color: rgb(122, 164, 206);
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
    border-radius: 18px;
}
h1{
    background-color: snow;
    color: steelblue;
}
input{
   text-align: center;
   height: 30px;
   top: 10px;
   border: none;
   background: transparent;
   font-size: 20px;
   font-weight: bold;
   width: 60%;
   color: rgb(26, 65, 88);
   border-bottom: 2px solid rgb(242, 244, 247);
   outline: none;
}
.plus{
    min-height: 20px;
    width: 25px;
    border-radius: 50%;
    border-color: transparent;
    background-color: rgb(6, 208, 235);
    color: wheat;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    margin-left: 12px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);
}
.minus{
    min-height: 20px;
    width: 25px;
    border-radius: 50%;
    border-color: transparent;
    background-color: rgb(240, 62, 8);
    color: wheat;
    font-size: 20px;
    border: none;
    outline: none;
    display: inline-block;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);
}
.spa{
   align-items: center;
   justify-content: center;
   justify-self: center;
   margin-left: 80px;
}

.lie{
    text-align: left;
    padding-left: 5px;
}
